In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [4]:
# Step 1: Load the data
df= pd.read_csv(r"C:\Users\brand\Desktop\guvi\crop_csv.csv")

In [5]:
df.head()

,Area,Item,Year,Area_Harvested,Production,Yield,Productivity
0,Afghanistan,"Almonds, in shell",2019,29203.0,38205.0,1308.3,1.308256
1,Afghanistan,"Almonds, in shell",2020,22134.0,39307.0,1775.9,1.775865
2,Afghanistan,"Almonds, in shell",2021,36862.0,64256.0,1743.2,1.743150
3,Afghanistan,"Almonds, in shell",2022,36462.0,63515.0,1742.0,1.741951
4,Afghanistan,"Almonds, in shell",2023,37000.0,67000.0,1810.8,1.810811

In [6]:
# Display rows where any column has a value of 0
df_zero_values = df[(df == 0).any(axis=1)]

# Show the result
print(df_zero_values)

                       Area                        Item  Year  Area_Harvested  \
345                 Albania  Other citrus fruit, n.e.c.  2022             0.0
346                 Albania  Other citrus fruit, n.e.c.  2023             0.0
966     Antigua and Barbuda         Carrots and turnips  2023             0.0
1050    Antigua and Barbuda                     Spinach  2021             0.0
8372   China, Hong Kong SAR                        Rice  2019             0.0
...                     ...                         ...   ...             ...
36267              Slovakia      Unmanufactured tobacco  2019            10.0
36268              Slovakia      Unmanufactured tobacco  2020            10.0
36286              Slovenia           Almonds, in shell  2023            20.0
37453                 Spain  Other citrus fruit, n.e.c.  2020          1370.0
38473           Switzerland                  Artichokes  2021             6.0

       Production    Yield  Productivity
345         11.00  26814.3           inf
346         11.30  27581.2           inf
966          4.95  11748.2           inf
1050         1.86   3795.9           inf
8372         0.05   2102.4           inf
...           ...      ...           ...
36267        0.00      0.0           0.0
36268        0.00      0.0           0.0
36286        0.00      0.0           0.0
37453        0.00      0.0           0.0
38473        0.00      0.0           0.0

[154 rows x 7 columns]

In [7]:
# Remove rows where any column has a 0
df_cleaned = df[~(df == 0).any(axis=1)]

# Reset index after removal (optional)
df_cleaned.reset_index(drop=True, inplace=True)

# Show the cleaned data
print(df_cleaned)

              Area               Item  Year  Area_Harvested   Production  \
0      Afghanistan  Almonds, in shell  2019         29203.0   38205.0000
1      Afghanistan  Almonds, in shell  2020         22134.0   39307.0000
2      Afghanistan  Almonds, in shell  2021         36862.0   64256.0000
3      Afghanistan  Almonds, in shell  2022         36462.0   63515.0000
4      Afghanistan  Almonds, in shell  2023         37000.0   67000.0000
...            ...                ...   ...             ...          ...
44822     Zimbabwe              Wheat  2019         24186.0   94685.0000
44823     Zimbabwe              Wheat  2020         44466.0  212530.0000
44824     Zimbabwe              Wheat  2021         57715.0  245813.4475
44825     Zimbabwe              Wheat  2022         48504.0  245813.4475
44826     Zimbabwe              Wheat  2023         57715.0  245813.4475

        Yield  Productivity
0      1308.3      1.308256
1      1775.9      1.775865
2      1743.2      1.743150
3      1742.0      1.741951
4      1810.8      1.810811
...       ...           ...
44822  3914.9      3.914868
44823  4779.6      4.779607
44824  5075.9      5.075895
44825  5154.2      5.154214
44826  4553.8      4.553872

[44827 rows x 7 columns]

In [8]:
# Save to CSV (without index)
df_cleaned.to_csv(r"C:\Users\brand\Desktop\guvi\crop_cleaned.csv", index=False)

In [9]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\anaconda\lib\site-packages (9.3.0)

In [10]:
import mysql.connector

In [11]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    # port=3306
)

In [12]:
mycursor = mydb.cursor(buffered=True)

In [13]:
mycursor.execute("SHOW DATABASES")
print(mycursor)

CMySQLCursorBuffered: SHOW DATABASES

In [14]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('guvi',)
('information_schema',)
('mdtm40',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('practise',)
('project',)
('sportsradar',)
('test',)

In [15]:
mycursor.execute("USE project")

In [ ]:
mycursor.execute("""
    CREATE TABLE cropdata (
        Area VARCHAR(100),
        Item VARCHAR(100),
        Year INT,
        Area_Harvested FLOAT,
        Production FLOAT,
        Yield FLOAT,
        Productivity FLOAT
    )
""")

In [17]:
import csv

with open(r"C:\Users\brand\Desktop\guvi\crop_cleaned.csv", 'r') as f:
    reader = csv.reader(f)
    next(reader)  # Skip header
    for row in reader:
        mycursor.execute("""
            INSERT INTO cropdata (Area, Item, Year, Area_Harvested, Production, Yield, Productivity)
            VALUES (%s, %s, %s, %s, %s, %s, %s)
        """, row)

mydb.commit()